.container {
display: flex;
justify-content: center;
margin-left: 200px;
}

.form {
    display: flex;
    gap: 40px;
}

.label {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}

.field {
    height: 40px;
    width: 300px;
    border-radius: 8px;
    border: 1px;
    font-size: 20px;
    padding-left: 16px;
    margin-top: 20px;
}

.btn {
    border: 1px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: aqua;
}

.error {
font-size: 20px;
color: red;
font-weight: bold;
margin-top: 0;
}